
<nav class="navbar navbar-rouge" style="background-color: #d4d8e2a1;">
  <a class="navbar-brand"></a>
    <marquee behavior="alternate">
      <div class="logo_container">
        <h1>me<span>zz</span>o HR Dashboard Admin</h1>
    </div>
        </marquee>
</nav>

 <!-- Sidebar -->
 <!-- This script got from frontendfreecode.com -->
<div class="wrapper d-flex align-items-stretch">
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
        <div class="col-md-8">
          <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">first name</th>
                      <th scope="col">Last name</th>
                      <th scope="col">email</th>
                      <th scope="col">password</th>
                      <th scope="col">role</th>
                      <th scope="col">department</th>
                      <th scope="col">hiring_date</th>
                      <th scope="col">Supprimer</th>
                      <th scope="col">Modifer</th>


                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of userData">
                      <th scope="row">{{user.id}}</th>
                      <td>{{user.firstname}}</td>
                      <td>{{user.lastname}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.password}}</td>
                      <td>{{user.role}}</td>
                      <td>{{user.department}}</td>
                      <td>{{user.hiring_date}}</td>
                      <td><button type="button" class="btn btn-danger" (click)="delete(user.id)" >supprimer</button></td>
                      <td><button type="button" class="btn btn-warning" routerLink="/modifier/{{user.id}}">modifier</button></td>
                    </tr>

                  </tbody>
                </table>              <hr class="my-4">

                      </div>
                  </div>

    </div>
</div><a style="font-size: 8pt; text-decoration: none" target="_blank" href="http://frontendfreecode.com"></a>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


