body{
  background-color: #394b7a36;
  font-family:'Roboto',Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  vertical-align: middle;

}


.form_box{
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
  background-color: #ffffffc7;
  align-items: center;
  min-width: fit-content;
  border-radius: 15px;
  padding: 50px 10px 50px 10px;
  box-shadow: 1px 4px 10px #888888;
}
.logo_container h1 {
  font-weight: bolder;
  font-size: 11mm;
 text-align: center;
}
.logo_container span{
  color:#192953a1 ;}
p{
  margin:15px 0 015px 0;
  font-weight: bold;
}
.input_container{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
}
input{

  border-style:solid;
  border-width: 1px;
  border-color: #88888885;
  border-radius: 10px;
  padding: 15px;


}

.buttonSubmit{
  cursor: pointer;
  padding: 10px 80px;
  border-radius:25px ;
  background-color:rgba(19, 19, 75, 0.938) ;
  font-size: 5mm;
  border: none;
  color: white;
  box-shadow: 3px 2px 10px #8888886b;
}

.buttonSubmit:hover{
transition: opacity 0.15s;
  opacity: 0.8;
}
button:disabled{  opacity: 0.8;
cursor:default;}
input.ng-touched.ng-invalid{
  border:2px solid rgb(185, 5, 5);

}
small{
  font-size: 3mm;
  color: rgb(185, 5, 5);

}
