
body{
  margin: 0px;
  height: 950PX;
  width: 100%;
  font-size: 5mm;
  flex-direction: row;
  font-family:'Roboto',Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
background-image:url(../../assets/bg1.jpg) ;
background-color: #050050;
-webkit-background-size:cover;
-o-background-size:cover;
-moz-background-size:cover;
background-size:cover;
}

.form_box{

  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: column;

  background-color: #eee5e580;
  align-items: center;
  min-width: fit-content;
  border-radius: 10px;
  padding: 40px ;
  box-shadow: 1px 1px 10px #888888;
}
.logo_container h1 {
  font-weight: bolder;
  font-size: 19mm;
 text-align: center;
}
.logo_container span{
  color:#192953a1 ;}
p{
  margin:10px 0 10px 0;
  font-weight: bold;
}


.input_container{
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-left: 30px;
}
input,select{
  width: 300px;
  height: 60px;
  border-style:solid;
  border-width: 1px;
  border-color: #88888885;
  border-radius: 10px;
  padding: 15px;


}

.buttonSubmit{
  cursor: pointer;
  padding: 20px 80px;
  border-radius:10px ;
  background-color:rgb(19, 19, 75) ;
  margin-bottom: 5px;
  font-size: 6mm;
  border: none;
  color: white;
  box-shadow: 3px 2px 10px #8888886b;
}

.buttonSubmit:hover{
transition: opacity 0.15s;
  opacity: 0.8;
}
button:disabled{  opacity: 0.8;
cursor:default;}
input.ng-touched.ng-invalid{
  border:2px solid rgb(185, 5, 5);

}
small{
  font-size: 3mm;
  color: rgb(185, 5, 5);

}
 a{
  color: #0a0820;

}
a:hover{
  color: #2d258b;
}
