



        <!--Section: Sales Performance KPIs-->
        <section class="mb-4">
          <div class="card">
            <div class="card-header text-center py-3">
              <h5 class="mb-0 text-center">
                <div class="col-sm-4">
              </div>
              </h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div class="dashboard_content">
                  <div class="dashboard_top">
                      <div style="display:flex; flex-direction:row;justify-content: space-between;">
                          <div class="dashboard_top_content_texts">
                              <div class="logo_container">
                                  <p>me<span>zz</span>o </p>
                                  <p style="color: grey; font-size: 5mm;">Users Mangment</p>
                              </div>
                          </div>

                      </div>

                      <div class="d-flex ">
                        <label for="emailfilter">Filter Employees with Email </label> &nbsp;&nbsp; : &nbsp;
                        <input [(ngModel)]="UserEmailFilter" class="form-control" style="width: fit-content;"
                        (keyup)="FilterFn()" placeholder="Filter">
                  </div>
<br>

                      <table class="table" >
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">PRENOM</th>
                            <th scope="col">NOM</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">MOT DE PASSE</th>
                            <th scope="col">ROLE</th>
                            <th scope="col">DEPARTEMENT</th>
                            <th scope="col">DATE D'EMBAUCHE</th>
                            <th scope="col">Status</th>
                            <th scope="col">SUPPRIMER</th>
                            <th scope="col">MODIFIER</th>
                            <th scope="col">ACCEPTER/REFUSER</th>


                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let user of userData">
                            <th scope="row">{{user.id}}</th>
                            <td>{{user.firstname}}</td>
                            <td>{{user.lastname}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.password}}</td>
                            <td>{{user.role}}</td>
                            <td>{{user.dept}}</td>
                            <td>{{user.hiring_date}}</td>
                            <td ><button type="button" class="btn_stat" disabled>{{Rstatus(user.status)}}</button></td>

                            <td><button type="button" class="btn_supprimer" (click)="delete(user.id)" >SUPPRIMER</button></td>
                            <td><button type="button" class="btn_modifier" routerLink="/modifier/{{user.id}}">MODIFIER</button></td>

                            <td>
                              <button type="button" class="btn_acc" (click)="accepter(user)" >ACCEPTER</button>
                              <button type="button" class="btn_ref" (click)="refuser(user)" >REFUSER</button>
                            </td>

                          </tr>

                        </tbody>
                      </table>
                    </div></div>


              </div>
            </div>
          </div>
        </section>
        <!--Section: Sales Performance KPIs-->
