





  <!--Main Navigation-->
  <!-- Sidebar -->
  <div
       id="sidebarMenu"
       class="collapse d-lg-block sidebar collapse bg-white"
       >
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">

          <i class="fas fa-tachometer-alt fa-fw me-3"></i
            ><span><b>Main dashboard</b></span>

        <a
          (click)="change('performance')" routerLinkActive="active"
          class="list-group-item list-group-item-action py-2 ripple"
           >
          <i class="fas fa-chart-area fa-fw me-3"></i
            ><span>Performance</span>
        </a>
        <a
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-lock fa-fw me-3"></i><span>Challange</span></a
          >
        <a
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-chart-line fa-fw me-3"></i
          ><span>Congé</span></a
          >
        <a
           (click)="change('users')"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-users fa-fw me-3"></i><span>Users</span></a
          >
      </div>
    </div>
  </div>
  <!-- Sidebar -->


  <!-- Navbar -->
<!--Main Navigation-->
<main style="margin-top: 58px">
  <div class="container pt-4">


    
<app-list-users *ngIf="variable == 'users'"></app-list-users>
<app-performance-users *ngIf="variable == 'performance'"></app-performance-users>





</div>
</main>
