


<my-sidebar [isExpanded]="sidebarExpanded" (pageName)="PageNavigation($event)" (toggleSidebar)="sidebarExpanded = !sidebarExpanded"></my-sidebar>
<div class="content" [ngClass]="{ 'sidebarExpanded': sidebarExpanded }">
</div>


<!--Main Navigation-->
<main style="margin-top: 58px">
  <div class="container pt-4">



<app-list-users *ngIf="page == 'users'"></app-list-users>
<app-performance-users *ngIf="page == 'performance'"></app-performance-users>


<app-challenges *ngIf="page == 'challenges'"></app-challenges>


</div>
</main>
