.chevron::before {
	 border-style: solid;
	 border-width: 0.15em 0.15em 0 0;
	 content: "";
	 display: inline-block;
	 height: 0.35em;
	 left: 0.15em;
	 position: relative;
	 top: 0.3em;
	 vertical-align: top;
	 width: 0.35em;
}
 .sidebar {
	 position: fixed;
	 left: 0;
	 height: 100vh;
	 transition: 0.3s;
	 width: 60px;
	 background: #1d1e2c;
	 color: #ffffff;
}
 .sidebar.expanded {
	 width: 150px;
}
 .sidebar.expanded .header h1 {
	 margin-left: 0px;
}
 .sidebar.expanded .header .chevron {
	 margin-left: 0px;
}
 .sidebar.expanded .header .chevron::before {
	 transform: rotate(-135deg);
}
 .sidebar.expanded .content .link .content .title {
	 max-width: 100px;
}
 .sidebar.expanded .content .link .content .icon {
	 margin-right: 3px;
}
 .sidebar.expanded .content .link .children .content {
	 padding-left: 30px;
}
 .sidebar .header {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 padding: 10px;
	 background: #0f1017;
}
 .sidebar .header h1 {
	 font-size: 20px;
	 color: #6d6e7e;
	 margin: 0;
	 flex: 1;
	 transition: 0.3s;
	 margin-left: -100px;
}
 .sidebar .header .chevron {
	 color: #6d6e7e;
	 cursor: pointer;
	 transition: 0.3s;
	 margin-left: -25px;
	 padding: 10px;
	 min-width: 20px;
	 height: 20px;
	 display: block;
	 text-align: center;
}
 .sidebar .header .chevron::before {
	 transition: 0.3s;
	 transform: rotate(45deg);
}
 .sidebar .header .chevron:hover {
	 color: white;
}
 .sidebar .content .link .children .content {
	 background: #27283a;
	 padding-left: 10px;
}
 .sidebar .content .link .children .content.active {
	 background: #191a27;
}
 .sidebar .content .link .content {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 padding: 10px;
	 cursor: pointer;
	 transition: 0.3s;
}
 .sidebar .content .link .content:hover {
	 background: #0f1017;
}
 .sidebar .content .link .content:hover .title {
	 color: white;
}
 .sidebar .content .link .content:hover svg {
	 fill: white;
}
 .sidebar .content .link .content.active {
	 background: #0f1017;
}
 .sidebar .content .link .content.active .title {
	 color: white;
}
 .sidebar .content .link .content .icon {
	 flex: 0 0 30px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin-right: 0px;
}
 .sidebar .content .link .content .title {
	 flex: 1;
	 color: #6d6e7e;
	 transition: 0.3s;
	 max-width: 0px;
	 overflow: hidden;
}


