
    <title> Ajouter utilisateur</title>

<div class="page">


      <form [formGroup]="Modifierform" (ngSubmit)="onSubmit()" *ngIf="C">
        <div style="display:flex ;flex-direction:row;margin-left: 20px;">
            <div class="input_container">
                <label for="firstName"><p>Nom</p></label>
                <input type="text" formControlName="firstName" placeholder="Nom..." >

                  <small *ngIf="Modifierform.controls['firstName'].touched&&Modifierform.controls['firstName'].hasError('required')">*saisir un nom</small>

                  <small *ngIf="Modifierform.controls['firstName'].hasError('pattern')" >*nom invalide </small></div>

            <div class="input_container">
                <label for="lastName"><p>Prénom</p></label>
                <input type="text"formControlName="lastName" placeholder="Prénom...">
              <small *ngIf="Modifierform.controls['lastName'].touched &&Modifierform.controls['lastName'].hasError('required')">*saisir un prenom</small>

              <small *ngIf="Modifierform.controls['lastName'].hasError('pattern')" >*prenom invalide</small>

            </div>
        </div>
        <div style="display:flex ;flex-direction:row;margin-left: 20px;">
            <div class="input_container">
              <label for="Role"><p>Votre Role </p></label>
              <select name="role" formControlName="role" >
                <option value="Responsable RH">Responsable RH</option>
                <option value="Employé(e)">Employé(e)</option>
                </select></div>

            <div class="input_container">
                <label for="email"><p>Email</p></label>
                <input type="email" formControlName="email" placeholder="exemple@exemple.com...">
            </div>

        </div>
        <div style="display:flex ;flex-direction:row;margin-left: 20px;">
            <div class="input_container">
                <label for="password"><p>Mot de passe</p></label>
                <input type="password" formControlName="password" placeholder="Mot de passe..." >
                <small *ngIf="Modifierform.controls['password'].touched &&Modifierform.controls['password'].hasError('required')">saisir un mot de passe </small>
                <div *ngIf="isSubmitted &&Modifierform.controls['password'].errors">
                <small *ngIf="Modifierform.controls['password'].hasError('minLength')">*mot de passe invalide</small>
             </div> </div>
            <div class="input_container">
                <label for="password_confirmation"><p>Confirmation de mot de passe </p></label>
                <input type="password" formControlName="password_confirmation" placeholder="Confirmer...">
                <small *ngIf="Modifierform.controls['password_confirmation'].touched &&Modifierform.controls['password_confirmation'].hasError('required')">*confirmer votre mot de passe </small>
                <small *ngIf="Modifierform.controls['password_confirmation']?.hasError('passwordMatch')">*Mot de passe compte ne correspond pas</small>


              </div>
        </div>
        <div style="display:flex ;flex-direction:row;margin-left: 20px;">
            <div class="input_container">
                <label for="hiringDate"><p>Date d'embauche </p></label>
                <input type="date" formControlName="hiringDate" >
                <small *ngIf="Modifierform.controls['hiringDate'].touched &&Modifierform.controls['hiringDate'].hasError('required')">Date d'emabouche est obligatoire  </small>
               </div>
            <div class="input_container">
                <label for="departement"><p>Département </p></label>
                <select name="departement" formControlName="departement" id="departement">
                  <option value="Département RH">Département RH</option>
                  <option value="Département IT">Département IT</option>
                  <option value="Direction financière">Direction financière</option>
                  <option value="Département marketing">Département marketing</option>
                  <option value="Direction générale">Direction générale</option>
                  <option value="Service commercial">Service commercial</option>
                  <option value="Département juridique">Département juridique</option>
                  <option value="autre">autre</option>



                </select>
                <small *ngIf="Modifierform.controls['password_confirmation'].touched &&Modifierform.controls['password_confirmation'].hasError('required')">*choisir votre département </small>


              </div>
        </div>
        <div style="margin-left: 100px;margin-top: 40px;" >
            <button class="buttonSubmit" type="submit "  > Modifier</button>
          </div>

        </form>

</div>

