
            <my-sidebar [isExpanded]="sidebarExpanded" (pageName)="PageNavigation($event)" (toggleSidebar)="sidebarExpanded = !sidebarExpanded"></my-sidebar>
            <div class="content" [ngClass]="{ 'sidebarExpanded': sidebarExpanded }">
            </div>


            <!--Main Navigation-->
            <main style="margin-top: 58px">
              <div class="container pt-4"  [ngClass]="{ 'sidebarExpanded': sidebarExpanded }">
                <app-list-users-rh *ngIf="page == 'users'"></app-list-users-rh>
                <app-performance-users *ngIf="page == 'performance'"></app-performance-users>
                <app-list-conge *ngIf="page == 'conge'"></app-list-conge>
                <app-challenges *ngIf="page == 'challenges'" [Role]="Role"></app-challenges>
              </div>
            </main>





































