body{height: 821px;

font-size: 5mm;
font-family:'Roboto',Arial, Helvetica, sans-serif;
display: flex;
flex-direction: row;

justify-content: space-between;
background-image:url(../../assets/img/admin.jpg) ;

-webkit-background-size:cover;
-o-background-size:cover;
-moz-background-size:cover;
background-size:cover;
margin: 0;


}
.logo_container span{
  color:#192953a1 ;
font-style: italic;}

.h1{
  align-items: center;
  justify-content: center;

}

