<body>


<div class="logo_container">
  <h1>me<span>zz</span>o HR</h1>
</div>
<a routerLink="/espace-admin"></a>
<div class="logo_container">
<p>INNOVA<span>T</span>ION<br>
SUCC<span>E</span>SS<br>
EVALU<span>A</span>ION<br>
DEVELOP<span>M</span>ENT<br>
GRO<span>W</span>TH<br>
S<span>O</span>LUTION<br>
PROG<span>R</span>ESS<br>
MAR<span>K</span>ETING<br>
<span>TEAM WORK</span>
</div>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="nav navbar-nav ml-auto">
      <p class="nav-item active">
          <a routerLink="/profil">Profil</a>
</p>
      <p class="nav-item">
          <a routerLink="/dashboard">Dashboard</a>
      </p>

  </ul>
</div>
</body>
